<footer class="footer footer-transparent footer-light navbar-shadow">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 container center-layout"><span
        class="text-center d-block d-md-inline-block">Copyright &copy; <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script> <a class="text-bold-800 grey darken-2"
          href="#" target="_blank">Click</a></span></p>
  </footer>