<div id="header" class="blue_lin">
    <div class="header_left">
        <div class="logo">
            <a href="/"><img src="../../../assets/dashboard/img/tebel-logo.png" width="90" alt="Tebel Group"></a>
        </div>
        <div id="responsive_mnu">
            <a href="#responsive_menu" class="fg-button" id="hierarchybreadcrumb"><span
                    class="responsive_icon"></span>Menu</a>
            <div id="responsive_menu" class="hidden">
                <%- include('menu-mobile.ejs') %>
            </div>
        </div>
    </div>
    
    <div class="header_right">
        <div id="top_notification">
            <ul>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle alert"><span
                            class="icon"></span><span class="alert_notify orange">30</span></a>
                    <div class="notification_list dropdown-menu pull-left blue_d">
                        <div class="white_lin nlist_block">
                            <ul>
                                <li>
                                    <div class="nlist_thumb">
                                        <img src="../../assets/admin/images/user_thumb.png" width="40" height="40" alt="img">
                                    </div>
                                    <div class="list_inf">
                                        <a href="#">Cras erat diam, consequat quis tincidunt nec,
                                            eleifend.</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="nlist_thumb">
                                        <img src="images/photo_60x60.jpg" width="40" height="40" alt="img">
                                    </div>
                                    <div class="list_inf">
                                        <a href="#">Donec neque leo, ullamcorper eget aliquet sit amet.</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="nlist_thumb">
                                        <img src="images/photo_60x60.jpg" width="40" height="40" alt="img">
                                    </div>
                                    <div class="list_inf">
                                        <a href="#">Nam euismod dolor ac lacus facilisis imperdiet.</a>
                                    </div>
                                </li>
                            </ul>
                            <span class="btn_24_blue"><a href="#">View All</a></span>
                        </div>
                    </div>
                </li>
                <li class="inbox dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span
                            class="icon"></span><span class="alert_notify blue">30</span></a>
                    <div class="notification_list dropdown-menu blue_d">
                        <div class="white_lin nlist_block">
                            <ul>
                                <li>
                                    <div class="nlist_thumb">
                                        <img src="images/photo_60x60.jpg" width="40" height="40" alt="img">
                                    </div>
                                    <div class="list_inf">
                                        <a href="#">Cras erat diam, consequat quis tincidunt nec,
                                            eleifend.</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="nlist_thumb">
                                        <img src="images/photo_60x60.jpg" width="40" height="40" alt="img">
                                    </div>
                                    <div class="list_inf">
                                        <a href="#">Donec neque leo, ullamcorper eget aliquet sit amet.</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="nlist_thumb">
                                        <img src="images/photo_60x60.jpg" width="40" height="40" alt="img">
                                    </div>
                                    <div class="list_inf">
                                        <a href="#">Nam euismod dolor ac lacus facilisis imperdiet.</a>
                                    </div>
                                </li>
                            </ul>
                            <span class="btn_24_blue"><a href="#">View All</a></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="user_nav">
            <ul>
                <li class="user_thumb"><a href="#"><span class="icon"><img src="images/user_thumb.png"
                                width="30" height="30" alt="User"></span></a></li>
                <li class="user_info"><span class="user_name">Administrator</span><span><a
                            href="#">Profile</a>
                        &#124; <a href="#">Settings</a> &#124; <a href="#">Help&#63;</a></span></li>
                <li class="logout"><a href="#"  onclick="confirmLogout(this)"><span class="icon"></span>Logout</a></li>
            </ul>
        </div>
    </div>
</div>